{% extends 'core/base.html' %}

{% block title %}Alterar Palavra-Passe{% endblock %}

{% block content %}
<div class="caixa paper">
    <h2 class="fita">Alterar Palavra-Passe</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_old_password">Palavra-Passe Atual:</label>
            {{ form.old_password }}
            {% if form.old_password.errors %}
                <div class="erro">
                    {% for error in form.old_password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div>
            <label for="id_new_password1">Nova Palavra-Passe:</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <div class="erro">
                    {% for error in form.new_password1.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div>
            <label for="id_new_password2">Confirmar Nova Palavra-Passe:</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <div class="erro">
                    {% for error in form.new_password2.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <button type="submit">Mudar Palavra-Passe</button>
    </form>
</div>

{% endblock %}