{% extends 'core/base.html' %}

{% block content %}
  <h2>Resultados para "{{ query }}"</h2>

<!-- For artists -->
{% for artista in artist_results %}
  <div class="card" style="width: 18rem; border-color: transparent; height: 100%;">
    {% if artista.imagem %}
      <img src="{{ artista.imagem.url }}" class="card-img-top" alt="{{ artista.nome }}">
    {% else %}
      <img class="card-img-top" alt="Imagem não disponível">
    {% endif %}
    <div class="card-body">
      <div class="card-content">
        <h5 class="card-title">{{ artista.nome }}</h5>
        <p class="card-text">{{ artista.descricao }}</p>
      </div>
      <a href="{% url 'artista_detail' artista.id_artista %}" class="btn-papel">Ver mais sobre</a>
    </div>
  </div>
{% empty %}
  <p>Nenhum artista encontrado.</p>
{% endfor %}


<div id="chat-messages" class="space-y-3" style="max-height: 400px; overflow-y: auto;">


{% for perfil in perfil_results %}
  <b class="label"><a href="{% url 'user_info' perfil.user.id %}" class="btn">
    <i class="bi bi-person"></i> {{ perfil.user.username }}
  </a>
  </b><br>
{% empty %}
  <p>Nenhum Utilizador encontrado.</p>
{% endfor %}
{% endblock %}
