{% extends 'core/base.html' %}

{% block title %}Criar Conta | {% endblock %}

{% block content %}
  <form method="post" action="." class="caixa paper">
    {% csrf_token %}

    <div class="fita">
      <h1 style="border-color: transparent;">Criar Conta</h1>
    </div>

    <div class="mb-5">
      <label class="label">Username:</label>
      <input type="text" name="username" placeholder="Nome de utilizador" value="{{ form.username.value|default_if_none:'' }}">
      {% for error in form.username.errors %}
        <div class="erro"><p>{{ error }}</p></div>
      {% endfor %}
    </div>

    <div class="mb-5">
      <label class="label">Primeiro Nome:</label>
      <input type="text" name="first_name" placeholder="Primeiro nome" value="{{ form.first_name.value|default_if_none:'' }}">
      {% for error in form.first_name.errors %}
        <div class="erro"><p>{{ error }}</p></div>
      {% endfor %}
    </div>

    <div class="mb-5">
      <label class="label">Último Nome:</label>
      <input type="text" name="last_name" placeholder="Último nome" value="{{ form.last_name.value|default_if_none:'' }}">
      {% for error in form.last_name.errors %}
        <div class="erro"><p>{{ error }}</p></div>
      {% endfor %}
    </div>

    <div class="mb-5">
      <label class="label">Email:</label>
      <input type="email" name="email" placeholder="E-mail" value="{{ form.email.value|default_if_none:'' }}">
      {% for error in form.email.errors %}
        <div class="erro"><p>{{ error }}</p></div>
      {% endfor %}
    </div>

    <div class="mb-5">
      <label class="label">Palavra-Passe:</label>
      <input type="password" name="password1" placeholder="Palavra-Passe">
      {% for error in form.password1.errors %}
        <div class="erro"><p>{{ error }}</p></div>
      {% endfor %}
    </div>

    <div class="mb-5">
      <label class="label">Confirmar Palavra-Passe:</label>
      <input type="password" name="password2" placeholder="Confirmar">
      {% for error in form.password2.errors %}
        <div class="erro"><p>{{ error }}</p></div>
      {% endfor %}
    </div>

    {% for error in form.non_field_errors %}
      <div class="erro"><p>{{ error }}</p></div>
    {% endfor %}

    <button type="submit">Criar Conta</button>
  </form>
{% endblock %}
